.container{
    
    position: absolute;
    right: 30px;
    top:8px;   
    /* background: goldenrod; */
    /* align-items: center; */
    z-index: 500;
}
.closeButton{
  
    /* display: inline-block; */
   
    cursor: pointer;
  
}
.mainContainer{
  width: 76vw;
  height: 32vw;
  background-color: #D81330;
  /* border: 2px solid red; */
  position: absolute;
}

.closeModal{
  position: absolute;
  /* border: 2px solid black; */
  
  
}

.imagee{
  position: absolute;
  /* border: 2px solid rgb(38, 228, 0); */
  width: 100%;
  height: 100%;
  
}

.imageText{
  position: absolute;
  bottom: 8.5%;
  right: 3.5%;
  background: #FFDC6D ;
  width: 93%;
  height: 55%;
}

.imagee img{
  width: 100%;
  height: 100%;
}