.container{
    width: 100%;
    height: fit-content;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    
    /* border: 2px solid white; */
}

.mainContainer{
    margin-top: 150px;
    width: 83%;
    height: fit-content;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;margin-bottom: 3vw;
}
.title{
    font-family: 'Komu A';
    font-size: 6vw;
    padding-bottom: 3vw;
}
.title span{
    color: #FFDC6D;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    text-align: justify;
}
.subTitle{
    color: #FFDC6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
}
.subText{
    color: #FFDC6D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
}