@media (max-width:800px){
    .container{
        width: 100%;
        height: fit-content;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        
        /* border: 2px solid white; */
    }
    
    .mainContainer{
        margin-top: 100px;
        width: 83%;
        height: fit-content;
        /* border: 2px solid white; */
        display: flex;
        flex-direction: column;margin-bottom: 3vw;
    }
    .title{
        font-family: 'Komu A';
        font-size: 13vw;
        padding-bottom: 3vw;
    }
    .title span{
        color: #FFDC6D;
    }
    .text{
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 500;
        text-align: justify;
    }
    .subTitle{
        color: #FFDC6D;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .subText{
        color: #FFDC6D;
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        font-weight: 500;
    }
}

@media (min-width:800px){
    .container{
        width: 100%;
        height: fit-content;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        
        /* border: 2px solid white; */
    }
    
    .mainContainer{
        margin-top: 150px;
        width: 83%;
        height: fit-content;
        /* border: 2px solid white; */
        display: flex;
        flex-direction: column;margin-bottom: 3vw;
    }
    .title{
        font-family: 'Komu A';
        font-size: 6vw;
        padding-bottom: 3vw;
    }
    .title span{
        color: #FFDC6D;
    }
    .text{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7vw;
        text-align: justify;
        font-weight: 500;
    }
    .subTitle{
        color: #FFDC6D;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .subText{
        color: #FFDC6D;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7vw;
        font-weight: 500;
    }
}

