

*{
  /* scroll-behavior: smooth; */
}

.Data {
    width: 100%;
    height: fit-content;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.approach{
  color: white;
  margin-top: 200px;
  width: 78%;
  height: 26vw;
  max-height: 60%;
  /* border: 2px solid white; */
  display: flex;
}
.approach_text{
  width: 65%;
  height: 100%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.approach_text_top{
  width: 100%;
  height: 40%;
  /* border: 2px solid white; */
  font-family: 'Komu A';
  font-size: 6.5vw;
}
.approach_text_top span{
  color: #FFDC6D;
}

.approach_text_bottom{
  width: 100%;
  height: 30%;
  /* border: 2px solid white; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7vw;
}

.approach_image{
  width: 35%;
  height: 100%;
  /* border: 2px solid blue; */
}


.DataContainer{
    width: 82%;
    height: 26vw;
    max-height: 60%;
    /* background-color: aqua; */
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
@media (max-width: 800px) {
 
  .DataContainer {
    background: rgb(181, 126, 126);
    margin: 5px;
    flex-direction: column;
    height: 210vh;
    min-height: 2000px;

  }
  .Data{
    width: 100%;
    height:fit-content;
    flex-direction: column;
    
    
  }
  .gridContainer{
  display: none;
}
  

}

@media(max-width: 500px){
  .Data3{
    background: brown;
   
  }
 
  .sliderContainer{
    background-color: blue;
  }
}



.Data2 {
    position: relative;
    width: 100%;
    height: 50vw;
  
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom:1.2vw ;
    /* padding-bottom: max(15px); */
    flex-direction: column;
    /* border: 2px solid white; */
}
.data2MainTitle{
  position: absolute;
  top: 8%;
  color: white;
  width: 100%;
  height: 20%;
  /* border: 2px solid wheat; */
  display: flex;
  align-items: center;
}

.data2MainTitle div{
  width:100%;
  height:100%;
  /* border:2px solid red; */
  margin-left: 10.8%;
  font-family: 'Komu A';
  font-size: 8vw;

}
.data2MainTitle div span{
    color:#FFDC6D

}
.Data3{
  width: 100%;
  height: fit-content;
  
  background: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sliderContainer{
  width: 95%;
  height: 150vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.gridContainer{
    width: 100%;
    gap: 15px;
    height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    /* border: 4px solid green; */
    /* background-color: rgb(185, 1, 154); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.temp{
    background-color: rgb(255, 40, 40);
    width: 100%;
    height: 300px;
    
}

.MyClassEnter{
    opacity: 0;
  }

  .MyClassEnterActive {
    
    transition: opacity 500ms;
    opacity:1 ;        
  }
  .MyClassEnterDone{
    opacity: 1;
  }


  .MyClassExit {
    display: none;
  }
  .MyClassExitActive {
     display: none; 
    /* opacity: 0;
    transition: opacity 500ms; */
  } 
  .MyClassExitDone {
    display: none;
  } 

  .MyClass2Enter{
    opacity: 0;
    
  }

  .MyClass2EnterActive {
    
    
    transition: opacity 500ms ease-out;
    opacity:1 ;        
  }
  .MyClass2EnterDone{
    opacity: 1;
  }


  .MyClass2Exit {
    opacity: 1;
    display: none;
  }
  .MyClass2ExitActive {
    opacity: 0;
    transition: opacity 500ms;
  } 
  .MyClass2ExitDone {
    opacity: 0;
    
  } 

  .SlideModalOverlay{
    width: 95%;
    height: 130vw;
    max-height: 900px;
    margin: 0 auto;
    position: absolute;
    background: rgb(132, 189, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .SlideModalOverlay button{
    width: 100px;
    height: 100px;
   
  }


  /* //////////////////////////////////////////////////// */











