

.navContainer{
    display: flex;
    width: 100%;
    height: 13vw;
    max-height: 90px;
    background: green;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    top:0; */
    z-index: 900000;
    position: fixed;
    max-width: calc(100vw - 18px);
    
    /* opacity: 0.5 */
}

.hideNav{
    transform: translateY(-100px);
    transition: all 200ms ease-in-out;
}
.showNav{
    transform: translateY(0px);
    width: 100%;
    transition: all 200ms ease-in-out;
    
}
.setBg{
    /* opacity: 0.5; */
    background: black;
}

.navMain{
    display: flex;
    width: 97%;
    height: 100%;
    /* max-height: 90px; */
    background: rgb(128, 0, 96);
    align-items: center;
    justify-content: space-between;
}

.Logo{
    height: 100%;
    width: 15%;
    max-width: 95px;
    
    background: gold;
}
.Right{
    display: flex;
    height: 100%;
    /* max-height: 90px; */
    width: 65%;
    /* max-width: 360px; */
    background: gold;
    align-items: center;
    justify-content: flex-end;
    
}
.Options{
    height: 100%;
    width: 60%;
   
    background: rgb(5, 183, 112);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.Options a{
    text-decoration: none;
}
.Options div{
    height: 50%;
    width: 30%;
    background: gray;
    font-size: 2vw;
}

.ToggleBar{
    width:20%;
    max-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-height: 90px; */
    background: goldenrod;
}

/* .modalOverlay {
    
    background: black;
    opacity: 0.9;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;


} */
