/* body{
    box-sizing: border-box;
    margin:0px;
    padding:0px
} */
body,html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}
* {
    box-sizing: border-box;
    
}
@media (max-width:800px){
    body{
        background: black !important;
    }
}